.social-container {
  margin-top: 40px;
  display: flex;
  width: 350px;
  height: 35px;
  justify-content: space-around;
  align-items: center;
}

.social-container a:hover {
  transition: transform 1.2s;
  transform: scale(1.1);
}

.title-social {
  font: 1.5em "Caveat";
  color: #23022f;
}
.social-icon {
  color: #23022f;
}
@media screen and (max-width: 820px) {
  .social-container {
    margin: 0;
  }

  .title-social {
    color: #fff;
  }

  .social-icon {
    color: #fff;
  }
}
